@font-face {
    font-family: Futura;
    src: url(./Futura-Bold.ttf);
}
@font-face {
    font-family: Gilroy;
    src: url(./Gilroy-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

*::selection{
    color: #fff;
    background: black;
}

html,body{
    width: 100%;
    height: 100%;
    background: #f7f7f7;
}

#nav {
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav #nav-part1{
    height: 85px;
    overflow: hidden;
    margin-bottom: 10px;
}
#nav-part1 svg{
    display: block;
}
#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
#nav-part2 #links a{
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 15px;
    margin:0 20px ;
}
#nav-part2 #icons i{
    font-size: 18px;
    margin-right: 50px;
    font-weight: 100;
}
#icons{
    padding: 10px;
    border-radius: 50px;
    background-color: #f7f7f7;
}
#cursor{
    width: 180px;
    height: 180px;
    background: rgba(128, 128, 128, 0.568);
    border-radius: 50%;
    position: fixed;
    transform: scale(0);
}
#page1{
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 0 1vw;
    padding-top: 20vh;
}

#page1 h1{
    font-size: 15vw;
    text-transform: uppercase;
    font-family: futura;
    line-height: 15vw;
    letter-spacing: -5px;
}

#video-container{
    height: 100vh;
    width: 100%;
    background-color: gray;
    margin-top: 3vw;
    /* margin-right: 3vw; */
    overflow: hidden;
    position: relative;
}
#video-container #video{
 position: absolute;
  top: 0;
  left: 0;
  display: block;
  width : 100%;
  height :100%;
  object-fit :contain;
}

#video-container #play{
    cursor: default;
    padding: 3vw 2vw;
    background: black;
    color: #fff;
    font-size: 1.5vw;
    text-transform: uppercase;
    font-family: futura;
    position: fixed;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}

#page2{
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3vw;
}
#page2 .elem{
    height: 100%;
    width: 30%;
    /* background: red; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2 .elem img{
    height: 100%;
    width: 100%;
    scale: 1.2;
    object-fit: cover;
}
#page2 .elem .dets{
    height: 60px;
    width: 80%;
    border-radius: 50px;
    position: absolute;
    z-index: 9;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#page2-2{
    width: 100%;
    min-height: 70vh;
    display: flex;
    align-items: center;
}
#page2-2 h1{
     width: 70%;
     font-size: 5vw;
     padding: 3vw;
     font-weight: 800;
     font-family: futura;
     line-height: 5vw;
}
#page2-2 #para{
    padding: 2vw;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
#elem1 .dets{
    background: #d4efad;
}
#elem2 .dets{
    background: #daabde;
}
#elem3 .dets{
    background: #e1d5a8;
}
.dets h1{
    text-transform: uppercase;
    font-size: 1.3vw;
}
#page3{
    width: 100%;
    min-height: 150vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.child{
    height: 54vh;
    width: 38vw;
    /* position: relative; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.child img{
    height: 100%;
    scale: 1.2;
}
.child div{
    font-weight: 100;
    text-align: center;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.additional-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vw;
    padding: 20px;
    border-bottom: 2px solid rgba(49, 46, 46, 0.507);
}

#page4{
    width: 100%;
    min-height: 120vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page4 h1{
    text-align: center;
   font-size: 5vw;
   font-family: futura;
   padding-inline: 2.7em;
   line-height: 5vw;
}
.msg-btn{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    background: black;
    color: white;
    padding-inline: 50px;
    padding-block: 25px;
    text-transform: uppercase;
    font-size: 1vw;
    border-radius: 100px;
    outline: none;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
}
.msg-btn:hover{
    color: rgba(255, 255, 255, 0.525);
}

#page5{
    width: 100%;
    min-height: 100vh;
    display: flex;
}
#page5 #para{
    padding: 2vw;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
#para h1{
    font-size: 2vw;
    font-family: futura;
}
#para p{
    margin-top: 1.5vw;
}
#para code{
    cursor: pointer;
    padding: 10px;
    width: max-content;
    margin-top: 2.5vw;
    border-bottom: 2px solid rgba(0, 0, 0, 0.486);
}
#imag-box{
    width: 70%;
    display: flex;
    gap: 1rem;
    padding: 30px;
}
#imag-box div{
    overflow: hidden;
}
#imag-box div img{
    width: 100%;
    scale: 1.2;
}

#page6{
    width: 100%;
    min-height: 80vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}
#page6 .connect-us:last-child{
    text-align: end;
}
#page6 #footer{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer li{
    margin-top: 10px;
    font-size: 1.5vw;
    list-style: none;
}
#footer svg{
    height: 160px;
}
#navigation{
    font-size: 1vw;
    padding-top: 40px;
    color: gray;
    display: flex;
    gap: 1rem;
}
#info{
    text-align: center;
    font-size: 1vw;
    padding: 0vw 18vw;
}
#info p{
    margin-top: 5vw;
    line-height: 1.5vw;
}

@media screen and (max-width : 600px) {
    #page1{
        width: 100%;
        padding: 0 3vw;
        padding-top: 25vh;
        min-height: 70vh;
    }
    #page1 h1{
        font-size: 16vw;
        line-height: 14vw;
        letter-spacing: -3px;
    }
    #nav {
        height: 100px;
        width: 100%;
        position: fixed;
        z-index: 99;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #nav #nav-part1{
        height: 60px;
        overflow: hidden;
    }
    #nav-part1 svg{
        display: block;
        height: 70px;
    }
    #nav #nav-part2{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    #nav-part2 #links a{
        text-transform: uppercase;
        text-decoration: none;
        color: #333;
        font-weight: 400;
        font-size: 15px;
        margin:0 20px ;
    }
    #links{
        padding: 10px;
        display: none;
    }
    #nav-part2 #icons i{
        font-size: 18px;
        margin-right: 50px;
        font-weight: 100;
    }
    #icons{
        padding: 10px;
        border-radius: 50px;
        background-color: #f7f7f7;
    }
    #video-container{
        height: 25vh;
        margin-top: 3vw;
    }
    #video-container #play{
        cursor: default;
        padding: 7.5vw 5.2vw;
        background: black;
        color: #fff;
        font-size: 4.5vw;
        text-transform: uppercase;
        font-family: futura;
        left: 50%;
        position: absolute;
        border-radius: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%,50%);
    }
    #page2{
        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 5vw 3vw;
    }
    #page2 .elem{
        height: 100vh;
        width: 100%;
        /* background: red; */
        overflow: hidden;
        margin-bottom: 3vw;
    }
    #page3{
        width: 100%;
        min-height: 120vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .child{
        height: 54vh;
        width: 88vw;
        padding: 5vw;
        /* position: relative; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .child img{
        height: 100%;
        /* scale: 1.2; */
    }
}